#account-section{
    .col{
        padding: 0;
        margin-bottom: 15px;;
    }
} 

.account-details {
    margin-bottom: 20px;
}

.log-in-prompt {
    margin-top: 5%;
}

.log-in-button {
    color: goldenrod;
    font-weight: bold;

    &:hover{
        color: #008ae6;
    } 

}

.firebaseui-title, .firebaseui-subtitle {
    font-size: 2.5rem;
}

.firebase-auth {
    margin-bottom: 15px;
}

.profile-picture {
    display: block;
    margin: 10px auto;
    width: 50px;
    border-radius: 50%;
}