.fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
    }
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

    .grow {
        // animation: scale 1s;
        -moz-animation: scale 1.5s; /* Firefox */
        -webkit-animation: scale 1.5s; /* Safari and Chrome */
        -o-animation: scale 1.5s; /* Opera */
    }
        @keyframes scale {
        from {
            transform: scale(0.2)
        }
        to {
            transform: scale(1)
        }}
        @-moz-keyframes scale { /* Firefox */
        from {
            transform: scale(0.2)
        }
        to {
            transform: scale(1)
        }}
        @-webkit-keyframes scale { /* Safari and Chrome */
        from {
            transform: scale(0.2)
        }
        to {
            transform: scale(1)
        }}
        @-o-keyframes scale { /* Opera */
        from {
            transform: scale(0.2)
        }
        to {
            transform: scale(1)
        }}