#intro-section{
    height: 100vh;
    padding: 25px 10% 0;

    // margin-top:-40px;
    h1{
        font-size: 4rem;
    }
    p{
        font-size: 1.4rem;
    }
    button{
        outline: none;
    }

}

.title{
    font-size: 4rem;
}

.intro {
    margin-top: 15vh;
}

.logo{
    width: 150px;
    margin-bottom: 20px;
}

.fade-in-3 {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
    }

    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }

/* Show help button description */
.button-description-help{
    font-family: 'Amatic SC', sans-serif;
    font-size:2rem;
    font-weight: bold;
    position: absolute;
    top: 120px;
    left: 10px;
}

/* Show summary button description */
.button-description-summary {
    font-family: 'Amatic SC', sans-serif;
    font-size:2rem;
    font-weight: bold;
    position: absolute;
    top: 120px;
    right: 10px;
}
