.intro {
  margin-top: 20vh;
  background-color: #343a40;

  height: 50vh;
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 1em;
  }
  button {
    margin-top: 2em;
    outline: none;
    font-family: 'Amatic SC', sans-serif;
    font-size: 1.5em;
    padding: 0.3em 0.7em;
  }
}

#get-started-section {
  margin-top: 40px;
}

.title {
  font-size: 4rem;
}

.enter {
  p {
    margin-top: 2em;
  }
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

/* Show help button description */
.button-description-help {
  font-family: 'Amatic SC', sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
  position: absolute;
  top: 200px;
  left: 10px;
  color: #343a40;
}

/* Show summary button description */
.button-description-summary {
  font-family: 'Amatic SC', sans-serif;
  font-size: 2.2rem;
  font-weight: bold;
  position: absolute;
  top: 120px;
  right: 10px;
}
