#recommended-section {
    margin-top: -50px;
}

.profitaccum-logo {
    object-fit: contain;
    max-height: 110px;
    width: 100%;
}

.prime-logo {
    object-fit: contain;
    max-height: 100px;
    margin: 10px 0;
    width: 100%;
}

.recommended-logo-container {
    padding: 0 10px;
}

.audible-logo {
    object-fit: contain;
    max-height: 120px;
    margin: 10px 0;
    width: 100%;
}

.recommended-text {
    font-size: 1rem;
}

.recommended-button {
    font-family: 'Amatic SC', sans-serif;
    color: white;
    font-size: 1.5rem;
}