/* ------------------------------Summary----------------------------------- */
.summary{
    position: fixed;
    right: 0;
    height: 100vh;
    background-color: #343A40;
    overflow-y: scroll;
    z-index: 2;

    p{
        margin: 0;
    }

    h3{
        font-size: 1.7rem;
        margin-bottom: -8px;
        display: inline-block;
        line-height: 1.5rem;
    }

    .icon{
        font-size: 1.1rem;
        margin-right: 5px;
        margin-left: 0;
        position: relative;
        bottom: 4px;
    }

    .card-body {
        padding: 0;
    }

    button{
        outline: none;
        &:hover{
            color: #008ae6;
        }
    }

    .warning {
        color: #008ae6;
    }
}

.show-summary {
    position: fixed;
    font-size: 3rem !important;
    top: 100px;
    right: -5px;
    z-index: 3;
    outline: none !important;
}

.close-summary {
    color: red;
    position: relative;
    right: 5px;
}

.summary-content{
    height: 100vh;
    padding: 100px 0 130px;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.summary-section {
    margin: 5px 0;
}

.summary-money{
    font-size: 1.2rem;
    display: inline-block;
    padding: 0;
    position: relative;
    bottom: 4px;
}

.view-button {
    font-size: 1.5rem;
    line-height: 1rem;
    margin: 10px 0 15px;
}